body, html{
    background-color: #D3D3D3;
}


.hero{
    background-image: url(../images/lum3n--RBuQ2PK_L8-unsplash.jpg);
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 230px;
    background-position: right center;
    margin-bottom: 0;
}

.hero div{
    max-width: 540px;
    margin-left:  auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right:  20px;
    text-align: center;
}

.hero h1{
    font-weight: 700;
    font-size:  64px;
    line-height:  1;
    margin-bottom: 15px;
    color: #87ceeb;
}


.main{
    background-color: #87ceeb;
    color: #fff;
    display: block;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.main .text{
    text-align: justify;
    padding: 20px;
    line-height: 1.5;
    padding-bottom: 15px;
}

.btn{
    margin-left: 400px;
    text-decoration:none;
    border-radius: 5px;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    padding: 14px;
    background-color: #c2c5cc;
    text-transform: uppercase;
    cursor: pointer;
    position: fixed;
    
}

.btn:hover{
    background-color: #fff;
    color: #87ceeb;
    transition: color .1s ease-in, background-color .1s ease-in;
}

.btn:active{
    font-size: 18px;
    transition: font-size .1s ease-in-out;
}
