body, html{
    background-color: #D3D3D3;
}


.hero{
    background-image: url(../images/lum3n--RBuQ2PK_L8-unsplash.jpg);
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 230px;
    background-position: right center;
    margin-bottom: 0;
}

.hero div{
    max-width: 540px;
    margin-left:  auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right:  20px;
    text-align: center;
}

.hero h1{
    font-weight: 700;
    font-size:  64px;
    line-height:  1;
    margin-bottom: 15px;
    color: #87ceeb;
}


.main{
    margin-bottom: 20px;
    background-color: #2176ff;
    color: #fff;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.main .text{
    text-align: justify;
    padding: 20px;
    line-height: 1.5;
}

/*
.btn{
        margin-top: 20px;
        text-decoration:none;
        border: 1px solid #5495ff;
        border-radius: 2px;
        color: #fff;
        font-size: 25px;
        font-weight: 400;
        margin: 10px;
        padding: 14px;
        background-color: #2176ff;
        font-family:;
        text-transform: uppercase;
        cursor: pointer;
      
}

.btn:hover{
    background-color: #fff;
    color: #2176ff;
    transition: color .1s ease-in, background-color .1s ease-in;
}

.btn:active{
    font-size: 18px;
    transition: font-size .1s ease-in-out;
}
*/