h1{
    color: #fff;
    background: linear-gradient(25deg, #000, #fff);
    font-family: 'Squada One', cursive;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    text-align: center;
    font-size: 50px;
    padding: 20px;
}

header{
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 20px;
}

.nav-bar{
    overflow: hidden;
    width: 20%;
    background:linear-gradient(25deg, #000, #fff);
    color: #fff;
    position: absolute;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-left: 20px;
}

.nav-bar nav{
    text-align: center;
    width: 20%;
    padding: 10px;
    max-width: 100px;
    height: 300px;
}



ul{
    list-style-type: none;
    padding-top: 50px;
}


ul a{
    text-decoration: none;
    color: #fff;
}  

ul li{
    margin-bottom: 15px;
    font-size: 24px;
}

ul li:hover{
   text-decoration: underline;
}


  .info{
      float: right;
      width: 50%;
      background:linear-gradient(25deg, #000, #fff);
      margin-right: 20px;
      padding: 15px;
      
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .introduction{
    font-family:'Squada One', cursive;
    font-size: 60px;
    color: #fff;
    padding: 15px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}

  footer{
    position:  fixed;
    bottom:  30px;
    width: 40px;
    left:  50%;
    margin-left: 20px;
  }

  @media only screen and (max-width: 500px) and (max-height: 2000px){
    .info{
        visibility: hidden;
    }

    .nav-bar{
        width: 80%;
    } 
    
    .nav-bar nav li{
        text-align: center;
        font-size: 32px;
    }
  }


