h1{
    color: #000;
    /*
    text-shadow: 1px 1px gray;*/
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

header{
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 20px;
}

.nav-bar{
    overflow: hidden;
    width: 50%;
    background-color: #000;
    color: #fff;
}

.nav-bar nav{
    float: left;
    width: 50%;
    padding: 10px;
    max-width: 100px;
}

.nav-bar p{
    float: right;
    width: 50%;
}

ul{
    list-style-type: none;
    
}

ul a{
    text-decoration: none;
    color: #fff;
    
}

ul li{
    margin-bottom: 15px;
    font-size: 24px;
}

ul li:hover{
    border-bottom: 1px solid #fff;
}



footer{
    position:  fixed;
    bottom:  30px;
    width: 40px;
    left:  50%;
    margin-left:  -20px;
  }

  .introduction{
      font-family:'Squada One', cursive;
      font-size: 40px;
      color: #fff;
  }

  .info{
      float: right;
      width: 50%;
      background-color: #000;
      margin: 0 auto;
      padding: 5px;
  }


